.bill-manager__add{
    background-color: #fff;
    font-family: montserrat;
    border: 1px solid #232323;
    border-radius: 10px;
    transition: background-color .5s, color .5s, border .5s;
    min-width: 100px;
    max-height: 50px;
}

.bill-manager__add:hover{
    background-color: #028941;
    color: #fff;
    cursor: pointer;
    border: 1px solid #028941;
}

.bill-manager__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    gap: 30px;  
    padding: 10px;
    border-radius: 10px;
    min-width: 150px;
    max-width: 300px;    
    min-height: 100px;
    box-shadow: 0 5px 5px #aaa;
}

.bill-manager__container-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;  
    padding: 10px;
}

.bill-manager__container-money{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #232323;
}

.bill-manager__container-title{
    font-size: 24px;
    font-weight: bold;
}
.bill-manager__container-date{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
}
.bill-manager__container-desc{
    max-height: 100px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    text-wrap: pretty;
    line-clamp: initial;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    transition: max-height .8s, background-image .5s;
}

.bill-manager__container-date-button{
    font-family: montserrat;
    border-radius: 6px;
    padding: 5px;
    background-color: transparent;
    border: none;    
    border: 1px solid #232323;
    transition: border .5s, background-color .5s, color .5s;
}

.bill-manager__container-date-button:hover{
    background-color: #fff;
    color: #232323;
    cursor: pointer;
    border: 1px solid #fff;
}


.button--modify{
    background-color: #2E81C9;
    border: 1px solid #2E81C9;
    color: #fff;
}

.button--pay{
    background-color: #358837;
    border: 1px solid #358837;
    color: #fff;
}

.bill-manager__container-desc::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Efecto de desvanecimiento */
    transition: height .5s;
}

.bill-manager__container:hover .bill-manager__container-desc {
    max-height: 500px;
}

.bill-manager__container:hover .bill-manager__container-desc::after {
    height: 0;
}
