.bill-manager{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
}

.bill-manager__add{
    background-color: #fff;
    font-family: montserrat;
    border: 1px solid #232323;
    border-radius: 10px;
    transition: background-color .5s, color .5s, border .5s;
    min-width: 100px;
    max-height: 50px;
}

.bill-manager__add:hover{
    background-color: #028941;
    color: #fff;
    cursor: pointer;
    border: 1px solid #028941;
}